@{
  Layout = "_Layout";
}

<div class="container">
    <div class="jumbotron">
        <h1>Welcome to the Word Counter Game!</h1>
    </div>
    <h2><a href='/count'>Go to the game page!</a></h2>
</div>